* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #enter {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
} */

#form-container {
    position: relative;
    margin: 20px auto;
    width: 40%;
    background-color: goldenrod;
    padding: 10px 10px 80px 10px;
}

#err {
  display: none;
  position: relative;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  color: red;
}

#err-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.input {
    width: 50%;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
}

input[type="submit"] {
    position: absolute;
    bottom: 5px;
    margin-top: 10px;
    border: 1px solid lightgray;
    background-color: black;
    color: white;
    border-radius: 18px;
    cursor: pointer;
}

#input-enter {
    width: 80%;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border: none;
}

#add-field {
    width: 15%;
    padding: 10px !important;
    border-radius: 8px;
    background-color: grey;
    color: black;
}

#form-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}