* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form-container {
  position: relative;
  margin: 20px auto;
  width: 40%;
  background-color: goldenrod;
  padding: 10px 10px 80px 10px;
  border-radius: 8px;
}

#err {
  width: 30%;
  display: none;
  position: relative;
  top: -200px;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  margin: auto;
  color: red;
  z-index: 100;
}

#err-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}

.input {
  width: 50%;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
}

input[type="submit"] {
  position: absolute;
  bottom: 5px;
  margin-top: 10px;
  border: 1px solid lightgray;
  background-color: black;
  color: white;
  border-radius: 18px;
  cursor: pointer;
}

#name {
  width: 48%;
  position: absolute;
  top: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#add-task {
  width: 100%;
}

#input-enter {
  width: 70%;
  padding: 10px;
  background-color: white;
  margin-bottom: 70px;
  border: none;
}

#add-field {
  width: 18%;
  padding: 10px !important;
  border-radius: 8px;
  background-color: grey;
  color: black;
}

#form-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
