* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: relative;
    width: 70%;
    margin: 30px auto 10px auto;
    background-image: linear-gradient(to right, blue, midnightblue);
    color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
}

h3 {
    margin-top: 10px;
}

ol {
    list-style: none;
    line-height: 30px;
    margin-top: 20px;
}

#buttons {
    /* position: absolute;
    bottom: 10px; */
    /* right: 10px; */
    width: 60%;
    margin: 0px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#buttons #next-btn {
    border: 1px solid red;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    /* margin: auto; */
    background-color: black;
    color: white;
    width: fit-content;
}

#buttons button:hover {
    transform: translateY(-3px);
    background-color: rgb(42, 42, 121) !important;
    color: white;
    transition: linear 0.8s ease-in-out;
    border: 1px solid gray;
}

#score {
    display: none;
    border: 1px solid black;
    padding: 5px 20px;
    border: none;
    /* margin: auto; */
    background-color: black;
    color: white;
    width: fit-content;
}