* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App container */
#app-container {
  margin: 20px auto;
  width: 30%;
  background-color: indianred;
  border-radius: 10px;
  padding: 10px;
}

/* Error message */
#msg {
  background-color: rgb(233, 83, 83);
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}

#msg-cancel {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* Inputs */
#input-field,
#add-btn {
  padding: 10px;
}

/* Tasks */
#tasks-area {
  background-color: lightgrey;
  padding: 10px;
  margin-top: 10px;
}

ul {
  list-style: none;
}

li {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Completed task */
.completed .task-text {
  text-decoration: line-through;
  color: gray;
}

/* Icons */
.fa-trash-o {
  color: red;
  cursor: pointer;
  /* margin-left: 10px; */
}

.fa-check {
  color: green;
  cursor: pointer;
}

#icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#icons i {
  width: 30%;
  font-size: 20px;
}

/* Modal */
#modal {
  position: absolute;
  top: 20px;
  left: -50%;
  right: -50%;
  display: none;
  width: 20%;
  background-color: gray;
  color: white;
  border-radius: 18px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 5px 0px 0px black;
  z-index: 100;
}

#modal-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modal-btn button {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 48%;
}