* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body > div {
  position: relative;
  background-image: url(../img/gettyimages-7.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff85;
  background-blend-mode: color-dodge;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  font-weight: 800;
  font-size: 20px;
}
.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}
.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}
.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
