*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px 0;
     display: flex;  
     justify-content: center; 
    align-items: center; 
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

i.fa-check {
    color: rgba(128, 128, 128, 0.671);
}

i.fa-trash-o{
    cursor: pointer;
}

i.circle{
    font-size: 10px;
    border: 2px solid rgba(128, 128, 128, 0.671);
    border-radius: 50%;
    padding: 3px;
}
i.circle:hover{
    color: rgba(99, 102, 241, 1);
    border: 2px solid rgba(99, 102, 241, 1);
}

body > div {
    padding: 30px 30px 50px 30px;
    border-radius: 18px;
    width: 40%;
    background-color: white; 
    display: flex; 
    flex-direction: column;  
     align-items: start; 
    justify-content: center;
    gap: 25px;
    box-shadow: 4px 10px 10px rgba(128, 128, 128, 0.272);
}

body > div > div#top {
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

body > div > div#top .right h1{
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

body > div > div#top > .left{
    display: flex;
    gap: 10px;
}

body > div > div#top > .left .urgent, body > div > div#top > .left .latest{
    cursor: pointer;
    padding: 10px 5px 10px 10px;
    border-radius: 7px;
}
body > div > div#top > .left .urgent{
    color: white;
    /* background-color:  rgba(99, 102, 241, 1); */
    --tw-bg-opacity: 1;
    background-color: rgb(99 102 241 / var(--tw-bg-opacity, 1));
}
@media (max-width: 768px) {
    body > div > div#top > .left .urgent, body > div > div#top > .left .latest{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
   body > div > div#top > .left span{
    display: none;
} 
}
body > div > div#top > .left .urgent:hover{
    color: white;
    background-color:  rgba(99, 101, 241, 0.441);
}
body > div > div#top > .left .latest{
    border: 1px solid gray;
}
body > div > div#top > .left .latest:hover{
    background-color: rgba(128, 128, 128, 0.132);
}

body > div > div#center {
    width: 100%;
    display: flex;
    flex-direction: column;
}

body > div > div#center > div.center-list{
    padding: 15px 12px;
    width: 100%;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
}

body > div > div#center > div.center-list.center-lt{
    padding-left: 17px;
}

body > div > div#center > div.selected {
    border-left: 5px solid rgba(0, 0, 255, 0.427);
    background: linear-gradient(to right, rgba(0, 0, 255, 0.221), transparent);
}

body > div > div#center > div.magic:hover {
    background-color: rgba(128, 128, 128, 0.094);
}

body > div > div#center > div > .left {
    display: flex;
    gap: 10px;
}

body > div > div#center > div > .left > span.lt{
    text-decoration: line-through;
    color: rgba(128, 128, 128, 0.858);
}

body > div > div#center .line {
    border: 1px solid rgba(128, 128, 128, 0.078);
    width: 100%;
}

footer {
    width: 100%;
}

footer > p{
    /* border: 1px solid red; */
    text-align: center;
    /* margin: 0 auto; */
    font-size: 0.75rem;
    line-height: 1rem;
    /* color: #e5e7eb; */
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity, 1));
}

@media (max-width: 1024px) {
    body > div {
    width: 80%;
}
}