* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 20px auto;
  text-align: center;
}

form {
  /* border: 1px solid red; */
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.256);
  border-radius: 18px;
  padding: 20px;
  width: 40%;
  margin: 0 auto 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

input:not(#checkbox) {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
}

#btn {
  margin: 0 auto;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

a {
  color: black;
  text-decoration: none;
}

#gender-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

#gender-container #radios {
  display: flex;
  gap: 10px;
  align-items: center;
}

select {
  padding: 5px;
  border-radius: 8px;
}

option {
  background-color: rgba(128, 128, 128, 0.251);
  color: black;
  font-weight: 600;
}

#register {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

input:focus {
  outline: 0;
}

.success {
  border-color: green;
  color: green;
}

.error {
  border-color: red;
  color: red;
}

@media (max-width: 768px) {
  form {
    width: 80%;
  }
}
