* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.counter {
  width: fit-content;
  padding: 20px;
  border: 1px solid grey;
  margin: 20px auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter-btn {
  padding: 10px;
  background-color: black;
  border: none;
  color: goldenrod;
  font-size: 25px;
  cursor: pointer;
}

.inc-dec {
  display: block;
  margin-top: 10px;
}

.count {
  color: blue;
  font-size: 25px;
}